<% var msg = require('../../locale/current/studio') %>

<tr>
  <td id="share-cell" class="share-cell-none">
    <button id="shareButton" class="share">
      <img src="<%= assetUrl('media/1x1.gif') %>">
      <%= msg.share() %>
    </button>
  </td>
</tr>
