<xml id="toolbox" style="display: none;">
  <block type="maze_moveForward"></block>
  <block type="maze_turn"><title name="DIR">turnLeft</title></block>
  <block type="maze_turn"><title name="DIR">turnRight</title></block>
</xml>
