$common_root: '/blockly/media/common_images/';
$cyan: #0094ca;
$charcoal: #5b6770;
$orange: #ffa400;
$purple: #7665a0;
$green: #b9bf15;
@mixin fill-container {
  height: 100%;
  width: auto;
}
@mixin font {
  font-family: 'Gotham A', 'Gotham B', sans-serif;
}


body {
  @include font;
  background-color: #F2F2F2;
  font-weight: 400;
  margin-top: 0;
}
h1 {
  font-weight: 700;
  font-size: 140%;
}
h2 {
  font-weight: 500;
}
a {
  color: #0596CE;
  &:hover {
    color: #0596CE;
    background: none;
  }
}
.farSide {
  text-align: right;
}
html[dir="RTL"] .farSide {
  text-align: left;
}

.clear {
  clear: both;
}
#blockly {
  position: absolute;
  bottom: 10px;
  margin-left: 415px;
}

#show-code-button {
  @media screen and (max-device-width: 540px) {
    display: none;
  }

  background-color: $green;
  border-color: $green;
  padding: 2px 8px;
  margin: -5px 0 0 6px;
  font-size: small;
  color: white;
}

.share-code-spacer {
  min-height:25px;
}

#codeTextbox {
  position: absolute;
  bottom: 10px;
  box-shadow: 7px 7px 10px #888;
  margin-left: 415px;
  display: none;
  color: rgb(0, 0, 0);
  font-family: monospace;
  font-size: 22px;
  line-height: 1.2;
  border: 4px solid #ddd;
}

#belowVisualization {
  width: 400px;
}

#visualization {
  position: relative;
  height: 400px;
  margin-bottom: 5px;
}

/* Buttons */
button {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: large;
  background-color: #eee;
  color: #000;
}
button.launch {
  border: 1px solid $orange;
  background-color: $orange;
  color: #fff;
  font-size: large;
  min-width: 96px;
  margin-left: 0px;
  margin-right: 10px;
  /* Can't use "text-align: start" due to IE. */
  text-align: left;
}
html[dir="RTL"] button.launch {
  text-align: right;
}
button.launch>img {
  opacity: 1;
  vertical-align: text-bottom;
}
button.blocklyLaunch {
  border: 1px solid $orange;
  background-color: $orange;
  min-width: 111px;
  padding: 7px 10px 7px 6px;
  /* Can't use "text-align: start" due to IE. */
  text-align: left;
  img {
    float: left;
    margin-top: 0px;
    margin-left: 6px;
  }
  div {
    text-align: left;
    margin-top: 3px;
    margin-right: 4px;
    float: right;
    padding: 0px;
    margin-left: 6px;
    min-width: 45px;
  }
  html[dir="RTL"] & {
    margin-right: 0px;
  }
  &#resetButton {
    border: 1px solid $cyan;
    background-color: $cyan;
  }
  &#runButton div {
  }
}
button.share {
  border: 1px solid #FFA000;
  background-color: #FFA000;
  color: #fff;
  margin-left: 0px;
  margin-right: 5px;
  &.shareRight {
    margin-right: 0px;
    float: right;
  }
}
button.share:focus {
  outline-style: none;
}
button:hover>img {
  opacity: 1;
}
button:active {
  border: 1px solid #888 !important;
}
button:hover {
  box-shadow: 2px 2px 5px #888;
}
button.disabled, button[disabled=disabled], button:disabled {
  border: 1px solid #C7C7C7;
  background-color: #C7C7C7;
  box-shadow: none;
  &:hover {
    box-shadow: none;
  }
}
button.disabled:hover>img {
  opacity: 0.6;
}
button.disabled {
  display: none;
}
button.notext {
  font-size: 10%;
}
input[type="radio"] {
  margin-left: 40px;
  margin-right: 10px;
}

#learn {
  h1 {
    margin: 20px 0px 0px 0px;
  }
  img {
    margin-bottom: 5px;
  }
  a {
    display: block;
  }
}

#make-your-own-button {
  margin: 5px 0px 5px 0px;
}

#open-workspace {
  margin: 5px 0px 5px 0px;
}

#gameButtons {
  margin-bottom: 10px;
  clear: left;
}
#slider-cell {
  vertical-align: top;
}

/* Dialogs */
#help {
  padding: 0 10px;
  display: none;
}
#dialog {
  visibility: hidden;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  position: absolute;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #888;
  padding: 10px;
  z-index: 20000;
}
#dialogBorder {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  color: #000;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #888;
}
#dialogShadow {
  @include fill-container;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
  z-index: 1;
}
.dialogAnimate {
  transition-property: width height left top opacity;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.dialogHiddenContent {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.trophy {
  min-width:100px;
  text-align:center;
  vertical-align:top;
  display:inline-block;
  max-width:100px;
  margin-bottom:10px;
}
.trophyimg {
  width:80px;
  height:80px;
}
#dialog button {
  min-width: 4em;
}
.feedback {
  font-size: 30px;
  margin: 20px 0px 20px 0px;
  line-height: 28px;
  color: #7E5BA0;
  font-weight: bold;
}

#show-code {
  margin-bottom: 5px;
}
#hint {
  color: #fff;
  padding: 5px 1em;
  font-size: large;
}

/* Instructions. */
#bubble {
  color: black;
  width: 385px;
  margin-bottom: 10px;
}

#prompt-icon {
  width: 50px;
  margin-right: 5px;
  height: auto;
  float: left;
}

#prompt {
  display: table-cell;
}

#headers {
  $height: 40px;
  background-color: $purple;
  div {
    display: inline-block;
    margin-right: -4px;
  }
  .blockly-header {
    text-align: center;
    white-space: nowrap;
    overflow-x: hidden;
    height: $height;
    span {
      color: white;
      line-height: $height;
    }
  }
  #toolbox-header {
    border-right: 1px solid gray;
  }
  #show-code-header {
    cursor: pointer;
    width: 150px;
    border-left: 1px solid gray;
    &:hover {
      background-color: $cyan;
    }
  }
  .block-counter-default {
    color: white;
  }
  .block-counter-overflow {
    color: #ffb81d;
  }
}

.qtip-content {
  font-size: 20px;
  line-height: 28px;
  color: #7E5BA0;
  font-weight: 500;
}

.qtip-default {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #888;
  padding: 10px;
}

#rotateContainer {
  position: fixed;
  z-index: 10001;
  background-color: white;
  top: 0;
  left: 0;
  display: none;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;

  #rotateText {
    position: relative;
    top: 50%;
    left: -50%;
    margin-left: 50px;
    margin-right: -50px;
  }

  p {
    text-align: center;
    font-size: 26px;
    line-height: 26px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }

  @media screen and (orientation: portrait) and (max-device-width: 900px) {
    display: block;
  }
}

.blocklyText, .blocklyMenuText, .blocklyTreeLabel, .blocklyHtmlInput,
    .blocklyIconMark, .blocklyTooltipText, .goog-menuitem-content {
  @include font;
}
.goog-menu {
  box-shadow: 4px 4px 6px #bbb;
  border-width: 2px;
}

.goog-menuitem {
  height: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.goog-menuitem-highlight,
.goog-menuitem-hover {
  border-width: 0;
  background-color: #57e;
}

.goog-menuitem-highlight .goog-menuitem-content {
 color: #fff;
}

.goog-option-selected .goog-menuitem-checkbox:before {
  content: "✓";
}

.goog-menuitem-checkbox {
  background: ""
}

.generated-code-container {
  margin-top: 10px;
  .generatedCodeMessage {
    font-size: 14px;
    line-height: inherit;
    color: $charcoal;
    margin-bottom: 10px;

    a {
      font-weight: bold;
      color: $purple;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .generatedCode {
    font-size: 14px;
  }
}

$modal-image-width: 100px;
$modal-image-margin-gap: 10px;

.modal-content {
  margin-left: $modal-image-width + $modal-image-margin-gap;
  p, pre {
    line-height: 27px;
    font-size: 24px;
    color: $purple;
  }
  .congrats {
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .instruction-image {
    width: 40%;
    height: auto;
    float: left;
  }

  .instruction-with-image {
    padding-left: 42%;
  }

  .feedback-image {
    width: 40%;
    height: auto;
    margin: 15px;
    float: left;
    border: lightgrey;
    border-style: solid;
  }

  .feedback-links {
    margin-top: 15px;
  }

  .feedback-callout {
    border: solid;
    border-radius: 10px;
    border-color: red;

    p {
      margin: 15px;
      color: red;
      padding-right: 20%;
    }

    .congrats {
      font-size: 24px;
      line-height: 27px;
    }

    .hint-header {
      font-weight: bold;
    }

    .hint-image {
      float: right;
      width: 20%;
    }
  }

  .lines-of-code-message {
    font-size: 20px;
    line-height: normal;
    color: $charcoal;
    margin: 0 0 8px;
  }
}

.yellow-background {
  background-color: #ffc459;
}

.light-yellow-background {
  background-color: #fff7df;
}

.white-background {
  background-color: white;
}

.dialog-title {
  font-weight: bold;
}

#ok-button {
  background-color: $orange;
  border: 1px solid $orange;
  color: white;
  min-width: 100px;
}

@mixin k1-image-button ($filename, $image_width) {
  .k1 & {
    text-align: center;
    border: none;
    background: white url("#{$common_root}#{$filename}");
    width: $image_width;
    height: 147px;
    font-size: 35px;
    &:hover {
      box-shadow: none;
    }
  }
}

#again-button {
  background-color: $green;
  border: 1px solid $green;
  color: white;
  margin-left: 0px;
  margin-right: 10px;
  @include k1-image-button('tryagain-arrow.png', 255px);
}

#continue-button {
  background-color: $orange;
  border: 1px solid $orange;
  color: white;
  margin-left: 0px;
  margin-right: 10px;
  @include k1-image-button('next-arrow.png', 214px);
}

#save-to-gallery-button {
  background-color: $purple;
  border: 1px solid $purple;
  color: white;
  &:disabled {
    color: $purple;
    background-color: lightgrey;
  }
}

.modal-image {
  width: $modal-image-width;
  height: auto;
  margin-top: -60px;
  float: left;
}
.modal-header {
  border: none;
  height: 20px;
}
.modal-body {
  height: 100%;
  overflow: visible;
}
#feedbackBlocks {
  margin-left: 50px;
  height: 100px;
  border: none;
}

.hide {
  display: none;
}
.hide-source {
  #visualization {
    display: inline-block;
  }
  #belowVisualization {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
  }
  #bubble {
    display: none;
  }
}

.sharing {
  margin-top: 15px;
  font-size: 20px;
  color: $charcoal;

  div {
    margin: 15px 0;
  }
  
  .saved-to-gallery {
    color: $purple;
  }
  .social-buttons {
    a:hover {
      text-decoration: none;
    }
  }
  #sharing-input {
    cursor: copy;
    margin: 0;
  }
}

// Includes an icon from the 30x30 spritesheet at position x, y (starting from top-left)
@mixin icon26($x, $y) {
  $x-offset: $x * 26px;
  $y-offset: $y * 26px;
  width: 26px;
  height: 26px;
  background: url("#{$common_root}shared-sprites-26x26.png") $x-offset $y-offset;
}

.run26 {
  @include icon26(0, 0);
}

.reset26 {
  @include icon26(0, 1);
}
