Instructions: <textarea type="text" name="instructions"></textarea>
Level Name: <textarea type="text" name="level_name"></textarea>
<button id="create-level-button" class="launch">
  Create Level
</button>
