<% var msg = require('../../locale/current/common') %>

<div id="make-your-own">

  <h1><a href="http://code.org/flappy"><%= msg.makeYourOwnFlappy() %></a></h1>
  <a href="http://code.org/flappy"><img src="<%= BlocklyApps.assetUrl('media/flappy_promo.png') %>"></a>

</div>
